<%- include("../layouts/header") %>
  <h1>
    Admin - Collectors
  </h1>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid black;
      /* Đường viền màu đen */
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
      /* Màu nền cho tiêu đề */
    }
  </style>

  <table>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>YOB</th>
      <th>Gender</th>
    </tr>
    <% members.forEach(member=> { %>
      <tr>
        <td>
          <%= member.email %>
        </td>
        <td>
          <%= member.name %>
        </td>
        <td>
          <%= member.YOB %>
        </td>
        <td>
          <%= member.gender ? 'Male' : 'Female' %>
        </td>
      </tr>
      <% }) %>
  </table>

  <%- include("../layouts/footer") %>