<%- include("../layouts/header") %>

  <div class="container mt-4">
    <h1 class="text-primary">Admin - Collectors</h1>

    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>Email</th>
            <th>Name</th>
            <th>YOB</th>
            <th>Gender</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <% members.forEach(member=> { %>
            <tr>
              <td>
                <%= member.email %>
              </td>
              <td>
                <%= member.name %>
              </td>
              <td>
                <%= member.YOB %>
              </td>
              <td>
                <%= member.gender ? 'Male' : 'Female' %>
              </td>
              <td>
                <%= member.isAdmin ? 'Admin' : 'Member' %>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  </div>

  <%- include("../layouts/footer") %>