<%- include("../layouts/header") %>
<h2><%= perfume.perfumeName %></h2>
<img src="<%= perfume.uri %>" alt="<%= perfume.perfumeName %>" />
<p><%= perfume.description %></p>
<p>Price: $<%= perfume.price %></p>
<%- include("../layouts/footer") %>
