<%- include("../layouts/header") %>

  <div class="container mt-4">
    <h2 class="text-primary">Brands List</h2>

    <% if (user && user.isAdmin) { %>
      <a href="/brands/add" class="btn btn-success mb-3">+ Add New Brand</a>
      <% } %>

        <% if (brands && brands.length> 0) { %>
          <ul class="list-group">
            <% brands.forEach(brand=> { %>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                <%= brand.brandName %>
                  <% if (user && user.isAdmin) { %>
                    <div>
                      <button class="btn btn-warning btn-sm"
                        onclick="navigateToUpdatePage('<%= brand._id %>')">Update</button>
                      <button class="btn btn-danger btn-sm" onclick="deleteBrand('<%= brand._id %>')">Delete</button>
                    </div>
                    <% } %>
              </li>
              <% }) %>
          </ul>
          <% } else { %>
            <div class="alert alert-warning mt-3">No brands available</div>
            <% } %>
  </div>

  <%- include("../layouts/footer") %>

    <script>
      function deleteBrand(brandId) {
        if (confirm("Are you sure you want to delete this brand?")) {
          fetch(`/brands/${brandId}`, {
            method: "DELETE"
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                alert(data.message);
                window.location.href = "/brands"; // Chuyển hướng sau khi xóa thành công
              } else {
                alert("Delete failed: " + data.error);
              }
            });
        }
      }

      function navigateToUpdatePage(brandId) {
        window.location.href = `/brands/update/${brandId}`;
      }
    </script>